.Footer {
    margin: 50px 80px;
    display: flex;
    
    
    flex-direction: column;
    gap: 30px;
}

.Footer .bottom {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.Footer .bottom .bottom-right {
    display: flex;
    margin-bottom: 15px;
    gap: 50px;
    cursor: pointer;
}

.Footer .top {
    display: flex;
    justify-content: space-between;
}

.Footer .top .top-left p {
    font-size: 20px;
    font-weight: 400;
}

.Footer .top .top-right {
    display: flex;
    align-items: center;
    gap: -10px;
}

.Footer .top .top-right .subscribe {
    font-size: 20px;
    padding: 12px 20px;
    border-radius: 50px;
    cursor: pointer;
    background: linear-gradient(264deg, #3cff00 -5.09%,);
    transition: 0.3s;
}

.Footer .top .top-right .subscribe:hover {
    transform: scale(1.1);
}

.Footer .top .top-right .email {
    display: flex;
    gap: 30px;
    padding: 10px 30px;
    border-radius: 50px;
    background: #32323B;
    padding-right: 80px;
}

.Footer .top .top-right .email input {
    outline: none;
    border: none;
    background: transparent;
    color: gray;
    font-size: 18px;
}


